@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black
}

header {
    position: relative;
}

main {
    height: 100%;
    max-width: 1440px;

    /* border:1px solid black; */
    margin: auto;
}
@media (min-width:768px){
    main{
        height: 100vh;
    }
}
.navbar-upper-container {
    height: 4rem;
    padding: 0 1.5rem;
    /* border:1px solid black; */
}

.navbar-upper-content {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-logo-container .cart-logo-container {

    height: 24px;
    width: 24px;
}

.sidebar-logo,
.cart-logo {
    pointer-events: none;
    display: block;
    width: 24px;
    height: 24px;
}

.sidebar {
    position: absolute;
    height: 100vh;
    width: 256px;
    top: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 2rem;
    color: #757575;
    gap: 1.5rem;
    font-size: 13px;
    letter-spacing: 0.2px;
    display: none;
}



.navbar-heading {
    font-size: 1.04rem;
    font-weight: 700;
    letter-spacing: 0.3em;
    color: #202020
}

.navbar-lower-container {
    height: 4rem;
}

@media (max-width:767px) {
    .navbar-lower-container {
        display: none;
    }
}

.navbar-category {
    width: 500px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.navbar-category>a {
    margin: auto;
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

.product-container {
    max-width: 1060px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* border: 1px solid red; */
    margin: 0 auto;

}

@media (min-width:768px) {
    .product-container {
        grid-template-rows: minmax(auto,600px);
        grid-template-columns: repeat(2,1fr);
    }
}

.product-detail {
    margin: 32px auto;
    padding: 0px 24px;
    position: relative;
    max-width: 600px;
    width: 100%;
    /* border:1px solid black; */
}
@media (min-width:768px){
    .product-detail{
        padding:64px 32px;
        width:100%;
        max-width:400px;
        transition:opacity 0.4s;
        max-height: 500px;
        height: 100%;
        justify-self: end;
        /* border:1px solid orange; */
    }
}
.product-image {
    height: 100%;
    margin:0px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media (min-width:768px){
    .product-image {
    height: 100%;
    margin:64px 0px;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}
}
.product-image>img {
    width: 100%;
}

.product-name {
    font-size: 20px;
    color: #202020;
    font-weight: 400;
}

.product-price {
    font-size: 13px;
    color: #757575;
    margin: 12px 0px 32px;
}
@media (min-width:768px){
    .product-name{
        font-size: 24px;
        /* font-weight: 500; */
        line-height: 28px;
        margin:0;
    }
    .product-price{
        font-size: 16px;
        margin:16px 0px 40px;
    }
}
.size-container,
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.size-container{
    border-top:1px solid #d3caca;
    border-bottom:1px solid #d3caca;
}
.quantity-container{
    border-bottom:1px solid #d3caca;
    margin-bottom:2rem;
}
label {
    font-size: 13px;
    color: #757575;
    position:absolute;
}

.size-select,
.quantity-select {
    color: #202020;
    font-size: 16px;
    padding: 16px 24px 16px 70px;
    border: none;
    width: 100%;
}

.desc-heading {
    color: #202020;
    font-size: 13px;
    margin: 19px 0px;
}

.desc {
    font-size: 13px;
    color: #757575;
    margin-bottom:2rem;
    line-height: 1.5;
}

.addToCartBtn {
    color: #FFFFFF;
    font-size: 14px;
    background: #172c50;
    padding: 8px 44px;
    position: fixed;
    bottom:0px;
    left:0px;
    padding:26px;
    width:100%;

}

@media (min-width:768px) {
    .addToCartBtn {
        color: #202020;
        font-size: 14px;
        background: #FFFFFF;
        padding: 8px 44px;
        position: static;
        width:auto;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
}

.made-by-polymer {
    font-size: 13px;
    color: #757575;
}

.demo {
    width: 120px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 14px;
    text-align: center;
}
